<html>

<head>
    <title>ACWorks 3D Video</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>

    <script type="text/javascript">
        var UUID
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        async function video_upload(url, uuid) {
            var numline = 0
            var i;
            document.getElementById("submit").disabled = true;
            document.getElementById("submit").value = 'Processing';

            for (i = 0; i < 1000 && numline < 13; i++) {
                await sleep(2000);
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (res) {
                        element = document.getElementById("statustext");
                        element.value = res;
                        numline_ = res.split(/\r\n|\r|\n/).length
                        numline = numline_
                    }
                })
            }
            document.getElementById("link").innerHTML = `
                    <a target="_blank" href='videos/${uuid}_swing.mp4' >${uuid}_swing.mp4</a><br>
                    <a target="_blank" href='videos/${uuid}_circle.mp4'>${uuid}_circle.mp4</a><br>
                    <a target="_blank" href='videos/${uuid}_dolly-zoom-in.mp4'>${uuid}_dolly-zoom-in.mp4</a><br>
                    <a target="_blank" href='videos/${uuid}_zoom-in.mp4'>${uuid}_zoom-in.mp4</a><br>
                    `
            document.getElementById("submit").disabled = false;
            document.getElementById("submit").value = 'Upload';
        }

        async function video_gen(uuid, type_id) {
            document.getElementById("gen").disabled = true;
            document.getElementById("gen").value = 'Creating...';
            var continue_flag = true
            let model_url = document.location.origin + '/video_gen?uuid=' + uuid + '&type_id=' + type_id
            var count=150;
            for (i = 0; i < 150 && continue_flag; i++) {
                $.ajax({
                    url: model_url,
                    type: 'GET',
                    success: function (res) {
                        count=count-1
                        document.getElementById("gen").value = 'Creating...('+count+')';
                        if (res['video']) {
                            document.getElementById("videos").innerHTML = `
                            <video width="600" controls autoplay >
                              <source src="${document.location.origin}/${res['video']}" type="video/mp4">
                            </video>`
                            document.getElementById("gen").disabled = false;
                            document.getElementById("gen").value = 'Create';
                            UUID = res['uuid']
                            continue_flag = false
                        }
                        console.log(res)
                    }
                })
                await sleep(8000);
            }
        }

        function video_model(original_url) {
            let model_url = document.location.origin + '/video_model?object_id=' + encodeURIComponent(original_url)
            console.log(model_url)
            $.ajax({
                url: model_url,
                type: 'GET',
                success: function (res) {
                    console.log(res)
                    video_gen(res['uuid'], 0)
                }
            })
        }

        function post_to_pre_signed_url(file, pre_signed_url, original_url) {
            fetch(pre_signed_url, {
                method: 'PUT',
                body: file
            }).then(() => {
                video_model(original_url)
            }).catch((e) => {
                console.error(e);
            });
        }

        function pre_signed_upload(file) {
            $.ajax({
                url: 'https://54q2xv45m8.execute-api.ap-northeast-1.amazonaws.com/dev/upload-url',
                type: 'POST',
                data: JSON.stringify({"files": [{"filename": file.name, "content_type": file.type}]}),
                success: function (res) {
                    post_to_pre_signed_url(file, res[0]["upload_url"], res[0]["original_url"])
                    // console.log(res)
                }
            })
        }

        function submit_file() {
            pre_signed_upload((document.querySelector("#selector").files)[0]);
            document.getElementById("submit").disabled = true;
            document.getElementById("submit").value = 'Uploading...';
            // document.getElementById("link").innerHTML = '';
            // pre_signed_upload((document.querySelector("#selector").files)[0]);
            document.getElementById("submit").disabled = false;
            document.getElementById("submit").value = 'Upload';
        }
    </script>
</head>
<body>
<form>
    Upload image files:<br>
    <input type="file" id="selector" multiple>
    <input id="submit" type="button" value="Upload" onclick="submit_file()">
</form>
<div id="thumbnail">
</div>
<!--<div id="status">-->
<!--    <textarea id="statustext" rows="20" cols="200">-->
<!--  </textarea>-->
<!--</div>-->
<!--<div id="link">-->

<!--</div>-->
<div style="text-align:center" id="videos">

</div>
<div id="link">

</div>
<label for="type_id">Camera move</label>

<select name="type_id" id="type_id">
    <option value="0">Zoom in</option>
    <option value="1">Zoom out</option>
    <option value="2">Dolly zoom in</option>
    <option value="3">Circle motion</option>
    <option value="4">Move up</option>
    <option value="5">Move down</option>
    <option value="6">Move left</option>
    <option value="7">Move right</option>
    <option value="8">Dynamic zoom in</option>
    <option value="9">Dynamic move left</option>
    <option value="10">Dynamic move right</option>
</select>
<input id="gen" type="button" value="Create video"
       onclick="video_gen(UUID, parseInt(document.getElementById('type_id').value))">
</body>
</html>
